body {
  margin: 0;
  font-family: sans-serif;
}
.jadeja {
  text-align: center;
}
.image {
  display: block;
  width: 800px;
  margin: 0 auto;
  border-radius: 20px;
}
.paragraph {
  width: 800px;
  margin: 40px auto;
  line-height: 1.5;
  text-align: justify;
}
.achievements {
  text-align: center;
}
.list {
  width: 800px;
  margin: 0 auto;
  text-transform: capitalize;
}
.list li {
  margin-bottom: 8px;
}
